#top{
	position:relative;
	height:80px;
}
#top img{
	margin-left:80px;
}
#top .car,#top .name{
	float:right;
	color:#bbb;
	margin-right:15px;
}
#top .search{
	width:500px;
	height:40px;
	position:absolute;
	top:10px;
	left:32%;
	border: 1px solid deeppink;
}
#top .search_key{
	margin:0;
	width:415px;
	height:35px;
	border:none;
}
#top input:focus{
	border:none;
}
#top .submit{
	width:80px;
	height:40px;
	margin-right:0;
	background-color:deeppink;
	border:none;
}
#nav{
	margin-left:80px;
}
#nav figure{
	width:222px;
	height:400px;
	border:1px solid #ccc;
	display:inline-block;
	margin-right:10px;
}
#nav figure span{
	color:#aaa;
	font-size:14px;
}
#nav figure .price{
	color:red;
	display:block;
	float:right;
	margin-right:15px;
}